#leftImg {
    background-position: left;
}
#centreImg {
    background-position: center;
}
rightImg {
    background-position: right;
}

img{
    width: 200px;
    height: 200px;
    padding: 50px;
    margin-top: 200px;
    margin-left: 20px;
    border-radius: 30px;
}